.card-projects {
  margin: 120px auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
  border-left: 2px solid #F8F0E3;
  padding-left: 16px;
}

.card-description {
  width: 308px;
}

.projectimg {
  border-radius: 8px;
  transition: transform 1s ease-in-out;
}

.projectimg:hover {
  transition: transform 1s ease-in-out;
  transform: scale(1.05);
}
