i {
  font-size: 100px;
  margin: 0px 16px;
  color: #F8F0E3;
}

.language-icons {
  justify-content: center;
  display: flex;
  margin-bottom: 160px;
}

.socialicons {
  display: flex;
  margin-top: 16px;
  animation: 3s anim-lineUp ease-out;
}

.fa-brands {
  font-size: 80px;
  padding: 4px;
  color: #F8F0E3;
}

.fa-square-envelope {
  font-size: 80px;
  padding: 4px;
  color: #F8F0E3;
}
