i {
  font-size: 100px;
  margin: 0px 16px;
  color: #F8F0E3;
}

.language-icons {
  justify-content: center;
  display: flex;
  margin-bottom: 160px;
}

.socialicons {
  display: flex;
  flex-direction: column;
  position: sticky;
  margin-left: 24px;
  bottom: 8px;
}

.fa-brands {
  font-size: 50px;
  padding: 4px;
  color: #F8F0E3;
}
