/* fullpage */
h1, h2, h3, h4 {
    color: #F8F0E3;
    font-family: 'Bebas Neue', cursive;
}

p {
    color: #F8F0E3;
    font-family: 'Roboto', sans-serif;
}

h2 {
  margin-left: 270px;
}

html,body{
  overflow-x: hidden;
}

/* main view///////////////////////// */
.name {
    font-size: 100px;
    animation: 3s anim-lineUp ease-out;
    text-align: center;
}
.title {
    font-family: 'Roboto', sans-serif;
    border-top: #F8F0E3 solid 2px;
    padding-top: 24px;
    animation: 3s anim-lineUp ease-out;
    text-align: center;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#home-img {
    width: 360px;
    animation: 3s anim-lineUp ease-out;
}

.initial-view {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.aboutmetext {
  margin: 120px auto;
  width: 800px;
  border-left: 2px solid #F8F0E3;
  padding-left: 16px;
}

/* Responsive */
/* @media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  /* .container {
    width: 700px;
  }
} */

/* @media (max-width: 720px) { */
  /* For a screen < 720px, this CSS will be read */
  /* .container {
    width: 500px;
  }
} */

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 380px !important;
  }

  .navbar {
    padding-left: 8px !important;
  }

  h1 {
    font-size: 64px !important;
  }

  h2 {
      margin: 0px !important;
      text-align: center;
    }

  h3 {
    font-size: 16px !important;
  }

  .initial-view {
    flex-direction: column;
  }

  #home-img {
    width: 240px;
    animation: 3s anim-lineUp ease-out;
}

  .language-icons {
    margin-bottom: 64px !important;
}

  #icon {
    font-size: 48px;
    margin: 0px 4px;
  }

  .aboutmetext {
    width: 332px;
    margin: 64px 0px;
  }

  .card-description {
    width: 100%;
  }
  .card-projects {
    margin: 64px auto !important;
    flex-direction: column;
    width: 100%;
    padding-left: 4px;
  }

  .projectimg {
    max-width: 65% !important;
  }
}
